# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
.fleet/
.zed/

# === Logs ===
*.log
/backend/storage/logs/*.log

# === Environnement ===
/backend/.env
/backend/.env.backup
/backend/.env.production

# === Cache / outils PHP ===
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/.phpunit.cache

# === Laravel spécifique ===
/backend/vendor/
/backend/node_modules/
/backend/public/build/
/backend/public/hot
/backend/public/storage

# === Storage Laravel ===
/backend/storage/*.key
/backend/storage/pail
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*

# === Database ===
/backend/database/database.sqlite

# === Auth / secrets ===
/backend/auth.json

# === Autres ===
Homestead.json
Homestead.yaml

/vendor/
/node_modules/
/.env
/.phpunit.result.cache